.idea/*
coverage.xml
.coverage
collections.env
gtdb_taxa_frequency_rank.json
gtdb_taxa_frequency.json
gtdb_taxa_frequency2_rank.json
gtdb_taxa_frequency2.json
gtdb_taxa_count_rank.json
gtdb_taxa_count.json
gtdb_attribs.jsonl
.dockerignore
*_pycache__
gtdb_attribs2.jsonl
.DS_Store
.vscode/settings.json
collections_config.toml
