[Arango]
    
# The URL of an arango coordinator
url = "{{ KBCOLL_ARANGO_URL }}"

# The name of the ArangoDB database in which the service will store data
database = "{{ KBCOLL_ARANGO_DB }}"

# The username, if any, of a user with credentials enabling database write. Omit to connect with
# default credentials.
username = "{{ KBCOLL_ARANGO_USER or ""}}"

# The password for the user, if any. Required if the username is provided.
password = "{{ KBCOLL_ARANGO_PWD or "" }}"

[Authentication]

# The URL of a KBase auth2 service
url = "{{ KBCOLL_KBASE_AUTH2_URL or "https://ci.kbase.us/services/auth" }}"

# KBase auth2 custom roles that signify that a user is an admin for the collections service
# This is a comma delimited list, e.g. "KBASE_ADMIN, COLLECTION_SERVICE_ADMIN"
admin_roles_full = "{{ KBCOLL_KBASE_AUTH2_ADMIN_ROLES or ""}}"

[Service]

# If the service is behind a reverse proxy that rewrites the service path, that path needs
# to be defined here in order for the OpenAPI documentation to function.
root_path = "{{ KBCOLL_SERVICE_ROOT_PATH or "" }}"

# Set to "true" to have the service create the database and collections on startup. Generally
# this should be left as "false" since the database admins will want to create collections with
# their sharding preferences.
create_db_on_startup = "{{ KBCOLL_CREATE_DB_ON_STARTUP or "false" }}"

[Service_Dependencies]

# The URL of a KBase workspace service
workspace_url = "{{ KBCOLL_KBASE_WS_URL or "https://ci.kbase.us/services/ws" }}"
